@charset "utf-8";
@import"main";
$BaceColor:#4560e6;

@mixin max-width($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}

/*************************************
            shop_list.html
*************************************/
//放大图片样式
.hoverimg{
    border: #cccccc 1px solid;
    padding: 5px;
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
}

//头部tab
.head_tab{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-top: #efefef 1px solid;
    border-bottom: #efefef 1px solid;
    overflow: hidden;      
    li{
       float: left;
       width: 108px;
       height: 54px;
       text-align: center;
       line-height: 54px;
       border-right: #efefef 1px solid;
       background-color: #fbfbfb;
       cursor: pointer;
       position: relative;
       a{
           color: #666666;
           font-size: 14px;
       }
    }
    li.on{
        background-color: #FFFFFF;
        font-weight: bold;
    }
    li.on:before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: $BaceColor;
        z-index: 2;
        position: absolute;
        left: 0;
        top: -1px;
    }
    li.on:after{
        content: '';
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}

//搜索框
.search_box{
    width: 100%;
    margin:20px 0;
    .screen{
       width: 100px;
       height: 30px;
       margin-left: 15px;
       display: inline-block;
       vertical-align: middle; 
    }
    .search{
        width: 148px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        color: #999999;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .search_btn{
        height: 30px;
        line-height: 30px;
        border: #cccccc 1px solid;
        background-color: #FFFFFF;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        color: #333333;
        font-size: 12px;
        .iconfont{
            color: #333333;
            font-size: 12px;
            margin-right: 6px;
        }
    }
    .search_btn:hover{
        background-color: #f6f6f6;
    }
    .btn1{
        width: 74px;
    }
    .btn2{
        width: 100px;
    }
    .operate{
        width: 96px;
        height: 30px;
        line-height: 30px;
        border: $BaceColor 1px solid;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        background-color: #FFFFFF;
        color: $BaceColor;
        .iconfont{
            color: $BaceColor;
            font-size: 12px;
            margin-right: 6px;
        }
    }
    .operate:hover{
        background-color: #f6f6f6;
    }
    
    //右侧配置
    .search_right{
        float: right;
        margin-right: 15px;
        margin-top: 5px;
        position: relative;
        .num{
            color: #666666;
            font-size: 12px;
            margin-right: 5px;
        }
        .icon-shuaxin{
            color: $BaceColor;
            margin: 0 5px;
            margin-right: 35px;
        }
        .set{       
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0px;
        }
        .set .iconfont{
            position: absolute;
            right: 0;
            top: 0px;
            padding:0 5px;
            padding-bottom: 5px;
            color: #666666;
            z-index: 99;
        }
        .set:hover .iconfont{           
            border: #cccccc 1px solid;
            border-bottom-color: #FFFFFF;
            
        }
        .set_list{
            display: none;
            position: absolute;
            right: 0;
            top: 30px;
            width: 95px;
            background-color: #FFFFFF;
            border: #cccccc 1px solid;
            z-index: 98;
            .name{
                width: 100%;
                display: block;
                padding: 5px 0;
                text-align: center;
                font-size: 12px;
            }
            li{
                padding: 8px 0;
                font-size: 12px;
                border-bottom: #efefef 1px solid;
                label{
                    cursor: pointer;
                }
            }
        }
        .set:hover .set_list{
            display: block;
        }
    }
}

//table表格
.table_body{
    width: 100%;
    padding:0 15px;
    box-sizing: border-box;
}
.table_box{
    width: 100%;
    border: #e3e5ef 1px solid;
    box-sizing: border-box;
    border-collapse:collapse;
    border-spacing:0;   
    margin: 0;
    tr{
        height: 40px;
        line-height: 40px;        
        th{
            background-color: #f2f4fe;
            border-right: #e3e5ef 1px solid;           
            span{
                padding-left: 20px;
                color: #666666;
                font-size: 12px;
                font-weight: bold;
            }
        }
        td{
           border-right: #e3e5ef 1px solid;
           height: 44px;
           position: relative;
           overflow: visible;             
        }
        
    }
    tr:nth-child(odd){
        background-color: #fafafa;
    }
    tr:hover{
        background-color: #f2f4fe;
    }
    .check_box{
        width: 58px;
    }
    .operate{
        width: 196px;
        .handle{
               text-align: left;
               padding-left: 5px;
               width: 75px;
               height: 28px;
               border: #efefef 1px solid;
               background:#FFFFFF;
               border-radius:5px ;
               z-index: 99;
               position: absolute;
               left:20px;
               top: 8px;
               .title{
                   display: none;
                   color: #333333;
                   font-size: 12px;
                   padding-left: 12px;
               }
               .list{
                   display: none;
                   position: absolute;
                   right: 0;
                   top: 27px;
                   width: 94px;
                   background-color: #FFFFFF;
                   z-index: 99;
                   li{
                       width: 100%;
                       height: 32px;
                       text-align: center;
                       line-height: 32px;
                       a{
                           color: #333333;
                           font-size: 12px;
                       }
                   }
                   li:hover{
                       background-color: $BaceColor;
                       a{
                           color: #FFFFFF;
                       }
                   }
               }
           }
           .handle.on{
               border-color: $BaceColor;
               .title{
                   display: inline-block;
               }              
           }
           .delete{
               width: 80px;
               height: 28px;
               border: #efefef 1px solid;
               overflow: hidden;
               background: transparent;
               border-radius:5px ;
               position: absolute;
               right: 8px;
               top: 8px;
           }
           .delete:hover{
               color: #ff3636;
           }
    }
    .name{
        width: 320px;
        .txt{
            width: 100%;
            display: block;
            box-sizing: border-box;
            padding-left: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .image{
        width: 65px;
        img{
            margin-left: 20px;
        }
    }
    .price{
        width: 106px;
        .num{
            margin-left: 20px;
        }
        .sort{
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }   
    }
    .star{
        width: 132px;
        .star_box{
            margin-left: 20px;
        }      
        .icon-xing1{
            color: #ffc63e;
        }
    }
    .switch{
        width: 123px;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        .sort{
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .number{
        width: 82px;
        .num{
            margin-left: 20px;
        }
    }
    .input{
        width: 128px;
        .text{
            width: 88px;
            height: 22px;
            border: #efefef 1px solid;
            margin-left: 20px;
            text-align: center;
            color: #666666;
            font-size: 12px;
        }
    }
    .state{
        width: 76px;
        .yes{
            color: #46cc6f;
            margin-left: 20px;
            i{
              margin-right: 8px;  
            }
        }
        .no{
            color: #999999;
            margin-left: 20px;
            i{
              margin-right: 8px;  
            }
        }
    }
    .link{
        .name{
            width: 100%;
            padding-left: 20px;
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #666666;
            font-size: 12px;
            display: block;
        }
        .name:hover{
            color: $BaceColor;
        }
    } 
}

.table_foot{
    width: 100%;
    height: 95px;
    .all_check{
        margin-top: 40px;
        float: left;
    }
    .all_delete{
        width: 80px;
        height: 30px;
        float: left;
        margin-top: 35px;
        margin-left: 20px;
        button{
            width: 80px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: #FFFFFF;
            border: #cccccc 1px solid;
            color: #cccccc;
        }
        button:hover{
            color: #ff3636;
            border-color: #ff3636;
        }
    }
    .page_box{
        float: right;
        margin-top: 40px;
        .more_page select{
            width: 43px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 5px;
            
        }
         .page{
            margin-left: 40px;
            display: inline-block; 
            overflow: hidden;
            color: #666666;
            font-size: 12px;
            vertical-align:middle;
        }
        .page a{
            padding: 0 10px;
            height: 30px;
            border: #dddddd 1px solid;
            text-align: center;
            line-height: 30px;
            color: #666666;
            font-size: 12px;
            display: inline-block;
            margin:0 6px;
        }
        .page a.on{
            background-color: $BaceColor;
            border: $BaceColor 1px solid;
            color: #FFFFFF;
        }
        .page a:hover{
            background-color: $BaceColor;
            border: $BaceColor 1px solid;
            color: #FFFFFF;
        }
        .page input{
            width: 30px;
            height: 30px;
            border: #dddddd 1px solid;
            text-align: center;
            line-height: 30px;
            color:$BaceColor;
            font-size: 12px;
            display: inline-block;
            margin-left: 30px;
            margin-right: 5px;
        }
        .page button{
            width: 58px;
            height: 30px;
            border: #dddddd 1px solid;
            text-align: center;
            line-height: 30px;
            color: #666666;
            font-size: 12px;
            display: inline-block;
            margin-right: 10px;
            margin-left: 12px;
            background: none;
            padding: 0;
        }
        .page button:focus{
            outline: none;
        }
        .page button:hover{
            color: #FFFFFF;
            background-color: $BaceColor;
            border: #f9dc76 1px solid;
        }

    }
}


//高级搜索弹出
.advanced_search{
    width: 280px;
    height: 100%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 999;
    right: 0;
    top: 0;
    display: none;
    box-shadow: #EEEEEE -1px -11px 15px 4px;
    .head{
        width: 100%;
        height: 54px;
        line-height: 54px;
        border-bottom: #cccccc 1px solid;
        .name{
            color: #333333;
            font-size: 14px;
            margin-left: 20px;
        }
    }
    .input_list{
        width: 100%;
        margin-top: 20px;
        label{
            display: block;
            color: #666666;
            font-size: 12px;
            margin-left: 20px;
        }
        .input{
            width: 230px;
            padding-left: 10px;
            height: 30px;
            margin-top: 10px;
            margin-left: 20px;
        }
        li{
            margin-top: 15px;
        }
    }
    .select_list{
        width: 100%;
        border-top: #efefef 1px solid;
        margin-top: 20px;
        label{
            display: block;
            color: #666666;
            font-size: 12px;
            margin-left: 20px;
        }
        .select{
            width: 240px;
            padding-left: 10px;
            height: 30px;
            margin-top: 10px;
            margin-left: 20px;
        }
        li{
            margin-top: 15px;
        }
    }
    .button_list{
        width: 100%;
        margin-top: 20px;
        li{
            margin-top: 15px;
            button{
                width: 240px;
                height: 30px;
                margin-left: 20px;
                border-radius:5px ;
                color: #FFFFFF;
                font-size: 14px;
                font-family: "微软雅黑";
            }
            .btn1{
                background-color: #cccccc;
            }
            .btn2{
                background-color: #a8b6fd;
            }
            .btn3{
                background-color: #526efb;
            }
        }
    }
    
    .close{
        width:20px;
        border-radius:5px ;
        height: 140px;
        text-align: center;
        background-color: #ededed;
        position: absolute;
        top: 50%;
        left: -20px;
        margin-top: -70px;
        cursor: pointer;        
        i{
            margin: 5px 0;
            display: block;
        }
        span{
            color: #666666;
            font-size: 12px;
        }
    }
}

/*************************************
            login.html
*************************************/
.login_body{
    width: 100%;
    height: 100%;
    background: url(../images/1_07.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
   .banner{
       width: 850px;
       height: 630px;
       margin-left: 10%;
       margin-top: 5%;
       overflow: hidden;
       position: relative;
       .hd{
           position: absolute;
           width: 100%;
           text-align: center;
           left: 0;
           bottom: 20px;
           li{
               width: 78px;
               height: 8px;
               border: #FFFFFF 1px solid;
               border-radius:10px ;
               display: inline-block;
               margin: 0 20px;
               cursor: pointer;
           }
           li.on{
               background-color: #FFFFFF;
           }
       }
       .bd{
           width: 100%;
           li{
               img{
                   width: 100%;
               }
           }
       }
   }
   .login_box{
       width: 420px;
       height: 580px;
       background-color: #FFFFFF;
       border-radius:5px ;
       position: absolute;
       top: 50%;
       margin-top: -290px;
       right: 10%;
       .logo{
           width: 100%;
           text-align: center;
           img{
               margin-top: 20px;
           }
           span{
               display: block;
               color: #333333;
               font-size: 24px;
           }
       }
       .box{
           width: 320px;
           margin: 0 auto;          
           li{
               margin-top: 15px;
               width: 100%;
               height: 50px;
               overflow: hidden;
               position: relative;
               .text{
                   width: 270px;
                   padding-left: 50px;
                   height: 50px;
                   border: none;
               }
               .name{
                   background: url(../images/1_12.png) no-repeat left;
               } 
               .psd{
                   background: url(../images/1_13.png) no-repeat left;
               }
               .yzm{
                   width: 150px;
                   background: url(../images/1_14.png) no-repeat left;
               }
                             
           }
           
           li:before{
               content: '';
               width: 100%;
               position: absolute;
               left: 0;
               bottom: 0;
               height: 1px;
               background-color: #cccccc;
           }           
           li:after{
               content: '';
               width: 100%;
               position: absolute;
               left: 0;
               bottom: 0;
               height: 1px;
               background-color: $BaceColor;
               transform: translate3d(-100%, 0, 0);
               transition: transform 0.5s;
           }
           li.on:after{
               transform: translate3d(0, 0, 0);
               transition: transform 0.5s;
           }
           .yzm_li:before{
               width: 200px;
           }
           .yzm_li:after{
               width: 200px;
           }
           .yzm_img{
               margin-left: 16px;
               cursor: pointer;
           }
           .tip_msg{
               width: 100%;
               height: 50px;
               line-height: 50px;
               font-size: 14px;
               margin-top: 15px;
           }
           .submit{
               width: 100%;
               height: 54px;
               text-align: center;
               line-height: 54px;
               color: #FFFFFF;
               font-size: 24px;
               background-color: $BaceColor;
               border-radius:50px ;
               cursor: pointer;
               margin-top: 30px;
               border: none;
           }
           .submit:hover{
               box-shadow:0px 0px 12px 4px $BaceColor;
           }
       }
   } 
}

@include max-width(1600px){
    .login_body{
        .banner{
            width: 700px;
            height: 550px;
        }
    }
}
@include max-width(1400px){
    .login_body{
        .banner{
            width: 600px;
            height: 480px;
        }
    }
}
/*************************************
            Echarts.html
*************************************/
.shop_chart{
    width: 930px;
    height: 310px;
    background-color: #FFFFFF;
    overflow: hidden;
    .title{
        width: 100%;
        height: 56px;
        border-bottom: #efefef 1px solid;
        line-height: 56px;
        overflow: hidden;
        .name{
            width: 136px;
            float: left;
            height: 56px;
            border-right: #efefef 1px solid;
            color: #333333;
            font-size: 14px;
            i{
                color: #999999;
                margin-left: 20px;
                margin-right: 10px;
            }
        }
        .tag{
            float: left;
            margin-left: 20px;
            color: #999999;
            font-size: 12px;
        }
    }
}

/*************************************
            role_edit.html
*************************************/
.role_edit{
    width: 100%;
    overflow: hidden;
    .title{
        width: 100%;
        height: 54px;
        line-height: 54px;
        border-bottom: #e6e6e6 1px solid;
        box-shadow:  #e6e6e6 1px 2px 3px;
        .name{
            margin-left: 43px;
            position: relative;
            color: #333333;
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
        }
        .name:before{
            position: absolute;
            left: -15px;
            top: -2px;
            content: '';
            width: 4px;
            height: 23px;
            background-color: $BaceColor;           
        }
        a{
            padding: 6px 10px;
            margin-left: 20px;
            color: #666666;
            font-size: 12px;
        }
        a.on{
            background: $BaceColor;
            color: #FFFFFF;
        }
        a:hover{
            background: $BaceColor;
            color: #FFFFFF;
        }
    }
    .tags{
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-bottom: #e1e1e1 1px solid;
        color: #666666;
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
        .sort{
            margin-left: 78px;
        }
        .name{
            margin-left: 94px;
        }
        .operate{
            margin-right: 88px;
        }
        .ratio{
            margin-right: 108px;
        }
        .class{
            margin-right: 70px;
        }
    }
    .list_box{
        width: 100%;
        overflow: hidden;
        .radio_check{
                margin-left: 35px;
                margin-right: 8px;
            }       
        .one,.two,.three{
            width: 100%;
            line-height: 70px;
            position: relative;
            
            .state{
                margin-right: 18px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
            }
            .sort{
                width: 70px;
                padding-left: 10px;
                height: 30px;
                border: #dfe0df 1px solid;
                display: inline-block;
                vertical-align: middle;
                line-height: 30px;
            }
            .line{
                width: 50px;
                height: 30px;
                border-left: #dfe0df 1px solid;
                margin-left: 15px;
                display: inline-block;
                vertical-align: middle;
                .border{
                    width: 100%;
                    height: 14.5px;
                    border-bottom:#dfe0df 1px solid;
                    display: block;
                }
            }
            .name{
                width: 150px;
                padding-left: 10px;
                height: 30px;
                border: #dfe0df 1px solid;
                display: inline-block;
                line-height: 30px;
                vertical-align: middle;
                margin-left: 15px;
            }
            .add_class{
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;               
                img{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                .txt{
                    font-size: 12px;
                    color: #fd9800;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .class{
                width: 70px;
                display: inline-block;
                text-align: center;
                margin-right: 48px;
            }
            .ratio{
                width: 70px;
                display: inline-block;
                text-align: center;
                margin-right: 208px;
            }
        }
        .one{
           border-bottom: #e1e1e1 1px solid; 
        }
        .two,.three{
            display: none;
            border-top: #e1e1e1 1px solid;
        }
        .three{
            .sort{
                margin-left: 35px;
            }
            .line{
                margin-left: 85px;
            }
        }
        
        .handle{
           text-align: center;
           width: 75px;
           height: 28px;
           border: #efefef 1px solid;
           background:#FFFFFF;
           border-radius:5px ;
           z-index: 99;
           position: absolute;
           right:95px;
           top: 20px;              
       }
       .handle:hover{
           color: $BaceColor;           
       }
       .delete{
           width: 80px;
           height: 28px;
           border: #efefef 1px solid;
           overflow: hidden;
           background: transparent;
           border-radius:5px ;
           position: absolute;
           right: 8px;
           top: 20px;
       }
       .delete:hover{
           color: #ff3636;
       }
       .list_foot{
           width: 100%;
           height: 70px;
           line-height: 70px;
           .all_delete{
               width: 80px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background-color: #FFFFFF;
                border: #cccccc 1px solid;
                color: #cccccc;
                margin-left: 20px;
           }
           .all_delete:hover{
               color: #ff3636;
                border-color: #ff3636;
           }
       }
    }
}


/*************************************
            allocation.html
*************************************/
.allocation{
    width: 100%;
    overflow: hidden;
    .title{
        width: 100%;
        height: 54px;
        line-height: 54px;
        border-bottom: #e6e6e6 1px solid;
        box-shadow:  #e6e6e6 1px 2px 3px;
        .name{
            margin-left: 43px;
            position: relative;
            color: #333333;
            font-size: 16px;
            font-weight: bold;
        }
        .name:before{
            position: absolute;
            left: -15px;
            top: -2px;
            content: '';
            width: 4px;
            height: 23px;
            background-color: $BaceColor;           
        }
        
    }
    .role_name{
        margin: 20px 0;
        margin-left: 28px;
        label{
            color: #666666;
            font-size: 12px;
        }
        .name{
            width: 150px;
            height: 30px;
            padding-left: 10px;
            display: inline-block;
            vertical-align:middle;
            margin-left: 15px;
            line-height: 30px;
        }
    }
    .list_box{
        width: 95%;
        margin-left: 28px;
        margin-bottom: 20px;
        border: #efefef 1px solid;
        border-radius:3px ;
        .head{
            width: 100%;
            background-color: #f2f4fe;
            height: 40px;
            line-height: 40px;
            .name{
                color: #333333;
                font-size: 12px;
                margin-left: 22px;
            }
        }
        .list{
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            padding-left: 40px;
            li{
                width: 180px;
                display: inline-block;
                margin: 10px 20px;
                label{
                    cursor: pointer;
                }               
            }
        }
    }
}
